@media (max-width: 800px){
    .checkout {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: white;
        height: max-content;
        align-items: center;
    }
}

.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout__subtotal {
    text-align: right;
    font-size: 20px;
    margin-right: 10px;
}

.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
}



.checkout__title {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border-bottom: 1px solid lightgray;
    text-align: right;
}

.checkout__title > h2 {
    text-align: left;
}

.checkout__title > small {
    font-size: 12px;
}
